.pill {
    background-color: rgb(50, 136, 230);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.pill:hover {
    background-color: rgb(127, 185, 248);
}

.step3 {
    z-index: 995 !important;
}